@model OrderInputModel
<div class="text-center">
    <h1>Вашата поръчка беше направена успешно</h1>
    <h2>Ще се връжем с вас за потвърждение</h2>

</div>

<h3>Вашиете данни</h3>
<ul>
    <li>
        @this.Model.UserInfo.FirstName @this.Model.UserInfo.LastName
    </li>
    <li>
       гр. @this.Model.UserInfo.City, ул. @this.Model.UserInfo.DeliveryAddress - @this.Model.UserInfo.DeliveryAddressType
    </li>
    <li>
       Куриер: @this.Model.UserInfo.Carrier
    </li>
    <li>
        Телефон: @this.Model.UserInfo.Phone
    </li>
    @if (!string.IsNullOrWhiteSpace(this.Model.UserInfo.Bullstat))
    {
        <li>
            @this.Model.UserInfo.Bullstat
        </li>
        <li>
            @this.Model.UserInfo.Mall
        </li>
    }
    <li>Цена на поръчката <strong>без доставката</strong>: <span class="h6">@this.Model.OrderItems.Sum(x => x.Price * x.Quantity)</span></li>
    <li>Брой продукти: <span class="h6">@this.Model.OrderItems.Count()</span></li>
</ul>

<a class="btn btn-info" asp-area="" asp-controller="@GlobalConstants.HomeController" asp-action="@GlobalConstants.IndexAction">Обратно към сайта</a>