@model IEnumerable<SelectViewModel>

@{
    var count = this.Model.Count() / 2;
}

<div class="col-lg-3 text-center">
    <div class="card mb-4">
        <div class="card-header">Категории</div>
        <div class="card-body  d-inline-block">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        @foreach (var category in this.Model.Take(count))
                        {
                            <li>
                                <a class="dropdown-item"
                                    asp-area=""
                                    asp-controller="@GlobalConstants.ProductsController"
                                    asp-action="@GlobalConstants.AllAction"
                                    asp-route-categoryId="@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        @foreach (var category in this.Model.Skip(count).Take(count))
                        {
                            <li>
                                <a class="dropdown-item"
                                    asp-area=""
                                    asp-controller="@GlobalConstants.ProductsController"
                                    asp-action="@GlobalConstants.AllAction"
                                    asp-route-categoryId="@category.Id">@category.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>