@model AllProductsViewModel
@{
    this.ViewData["Title"] = "Продукти";
}

@if (this.Model.Products.Any())
{
    <div class="col-lg-9 mt-3">
        <div class="row">
            @foreach (var product in this.Model.Products)
            {
                <div class="mb-2 col-lg-4 col-sm-12 col-12">
                    @if (product.IsOutOfStock)
                    {
                        <div class="card p-1" style="opacity: 0.7">
                            <svg xmlns="http://www.w3.org/2000/svg" class="" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                                <rect width="100%" height="100%" fill="#FFFFFF"></rect>
                                <image href="@product.ImageUrl" height="100%" width="100%"></image>
                            </svg>
                            <div class="card-body p-1">
                                <p>@product.Description.TrimIfLongerThan(17)</p>
                                <h6 class="text-info text-dark text-center">Изчерпано количество</h6>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card p-1 cardHover">
                            <a asp-area="" asp-controller="@GlobalConstants.ProductsController" asp-action="@GlobalConstants.DetailsAction" asp-route-productId="@product.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                                    <rect width="100%" height="100%" fill="#FFFFFF"></rect>
                                    <image href="@product.ImageUrl" height="100%" width="100%"></image>
                                </svg>
                                <div class="card-body p-1">
                                    <p>@product.Description.TrimIfLongerThan(17)</p>
                                    <h5 style="text-align: right">@product.Price лв</h5>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-12  mt-3 mb-3">
        <vc:product-categories></vc:product-categories>
    </div>

    <nav aria-label="pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item @if(Model.HasPreviousPage == false) {
        <text>disabled</text>
 }">
                                    <a class="page-link"
               asp-area=""
               asp-controller="@Model.ForController"
               asp-action="@Model.ForAction"
               asp-route-id="@PagingViewModel.FirstPageNumber"
               asp-route-categoryId="@this.Model.CategoryId">
                                        &laquo;&laquo;
                                    </a>
                                </li>
            <li class="page-item @if(Model.HasPreviousPage == false) {
        <text>disabled</text>
}">
                                    <a class="page-link"
               asp-area=""
               asp-controller="@Model.ForController"
               asp-action="@Model.ForAction"
               asp-route-id="@Model.PreviousPageNumber"
               asp-route-categoryId="@this.Model.CategoryId">
                                        &laquo;
                                    </a>
                                </li>
            @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
            {
                if (i > 0)
                {
                    <li class="page-item">
                        <a class="page-link"
               asp-area=""
               asp-controller="@Model.ForController"
               asp-action="@Model.ForAction"
               asp-route-id="@i"
               asp-route-categoryId="@this.Model.CategoryId">
                            @i
                        </a>
                    </li>
                }
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    @Model.PageNumber
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
            {
                if (i <= Model.PagesCount)
                {
                    <li class="page-item">
                        <a class="page-link"
               asp-area=""
               asp-controller="@Model.ForController"
               asp-action="@Model.ForAction"
               asp-route-id="@i"
               asp-route-categoryId="@this.Model.CategoryId">
                            @i
                        </a>
                    </li>
                }
            }
            <li class="page-item @if(Model.HasNextPage == false) {
        <text>disabled</text>
 }">
                                    <a class="page-link"
               asp-area=""
               asp-controller="@Model.ForController"
               asp-action="@Model.ForAction"
               asp-route-id="@Model.NextPageNumber"
               asp-route-categoryId="@this.Model.CategoryId">
                                        &raquo;
                                    </a>
                                </li>
            <li class="page-item @if(Model.HasNextPage == false) {
        <text>disabled</text>
}">
                                    <a class="page-link"
               asp-area=""
               asp-controller="@Model.ForController"
               asp-action="@Model.ForAction"
               asp-route-id="@Model.LastPageNumber"
               asp-route-categoryId="@this.Model.CategoryId">
                                        &raquo;&raquo;
                                    </a>
                                </li>
        </ul>
    </nav>
}
else
{
    <h1>В момента няма продукти за тази категория</h1>
}
