@model ProductDetailsModel

<div class="col-lg-6">
    <div class="card mb-4 p-1 cardHoverDetails">
        <svg class="card-img-top" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <rect width="100%" height="100%" fill="#FFFFFF"></rect>
            <image href="@this.Model.ImageUrl" height="100%" width="100%"></image>
        </svg>
        <div class="card-body">
            <div class="small text-muted">@this.Model.Name</div>
            <h2 class="card-title">@this.Model.Price.ToString("F2") лв</h2>
            <p class="card-text details-desc-size">
                @this.Model.Description
            </p>
        </div>
    </div>
</div>

<vc:order-item 
    template-id="null"
    product-id="@Model.Id"
    price="@this.Model.Price"
    product-name="@this.Model.Name"
    has-custom-text="@this.Model.HasCustomText"
    images-count="this.Model.ImagesCount"
    has-font-style="@this.Model.HasFontStyle"
    return-url="@this.ViewData[GlobalConstants.ReturnUrlKey]">
</vc:order-item>