@model IEnumerable<OrderViewModel>

<h1>Поръчки</h1>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Дата на поръчка
            </th>
            <th>
                Цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in this.Model)
        {
            <tr>
                <td>
                    @order.UserInfo.FirsName @order.UserInfo.LastName
                </td>
                <td>
                    @order.CreatedOn.ToShortDateString()
                </td>
                <td>
                    <strong>@order.TotalPrice</strong>
                </td>
                <td>
                    <a 
                    asp-area="@GlobalConstants.AdministrationArea" 
                    asp-action="@GlobalConstants.DetailsAction" 
                    asp-controller="@GlobalConstants.OrdersController"
                    asp-route-id="@order.Id">
                        Детайли
                    </a>
                     / 
                    <a 
                    asp-area="@GlobalConstants.AdministrationArea" 
                    asp-action="@GlobalConstants.RemoveAction" 
                    asp-controller="@GlobalConstants.OrdersController"
                    asp-route-id="@order.Id">
                        Изтриване
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>