@using EShop.Data.Models.Enums
@model AllOrdersViewModel

<h1 class="text-center">Поръчки</h1>

<a asp-area="Administration" asp-controller="Orders" asp-action="All" asp-route-orderStatus="@OrderStatus.Active">@OrderStatus.Active</a>
<a asp-area="Administration" asp-controller="Orders" asp-action="All" asp-route-orderStatus="@OrderStatus.Completed">@OrderStatus.Completed</a>
<a asp-area="Administration" asp-controller="Orders" asp-action="All" asp-route-orderStatus="@OrderStatus.Info">@OrderStatus.Info</a>

<h2 class="text-info text-center">@this.Model.Status</h2>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Име
            </th>
            <th>
                Дата на поръчка
            </th>
            <th>
                Цена
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in this.Model.Orders)
        {
            <tr>
                <td>
                    @order.UserInfo.FirsName @order.UserInfo.LastName
                </td>
                <td>
                    @order.CreatedOn.ToShortDateString()
                </td>
                <td>
                    <strong>@order.TotalPrice</strong>
                </td>
                <td>
                    <a asp-area="@GlobalConstants.AdministrationArea"
                   asp-action="@GlobalConstants.DetailsAction"
                   asp-controller="@GlobalConstants.OrdersController"
                   asp-route-id="@order.Id">
                        Детайли
                    </a>
                    /
                    @if (this.Model.Status.Equals(OrderStatus.Completed))
                    {
                          <a asp-area="@GlobalConstants.AdministrationArea"
                           asp-action="@GlobalConstants.RemoveAction"
                           asp-controller="@GlobalConstants.OrdersController"
                           asp-route-id="@order.Id">
                            Изтриване
                        </a>
                    }
                    else if(this.Model.Status.Equals(OrderStatus.Active))
                    {
                        <a asp-area="@GlobalConstants.AdministrationArea"
                           asp-action="@GlobalConstants.ChangeStatusAction"
                           asp-controller="@GlobalConstants.OrdersController"
                           asp-route-id="@order.Id"
                           asp-route-orderStatus="@OrderStatus.Completed">
                            Завърши
                        </a>
                        <text>/</text>
                        <a asp-area="@GlobalConstants.AdministrationArea"
                           asp-action="@GlobalConstants.ChangeStatusAction"
                           asp-controller="@GlobalConstants.OrdersController"
                           asp-route-id="@order.Id"
                           asp-route-orderStatus="@OrderStatus.Info">
                            Изчакване
                        </a>
                    }
                    else
                    {
                        <a asp-area="@GlobalConstants.AdministrationArea"
                           asp-action="@GlobalConstants.ChangeStatusAction"
                           asp-controller="@GlobalConstants.OrdersController"
                           asp-route-id="@order.Id"
                           asp-route-orderStatus="@OrderStatus.Completed">
                            Завърши
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>