@using EShop.Data.Models.Enums
@model AllOrdersViewModel

@{
    this.ViewData[GlobalConstants.Title] = "Поръчки";
    var status = this.Model.Status.Equals(OrderStatus.Active)
    ? GlobalConstants.DisplayStatusActive
    : this.Model.Status.Equals(OrderStatus.Info)
        ? GlobalConstants.DisplayStatusInfo
        : GlobalConstants.DisplayStatusCompleted;
}
<h2 class="text-center mt-3">@status</h2>
<table class="table table-sm table-bordered">
    <thead class="text-center">
        <tr>
            <th>
                Име
            </th>
            <th>
                Дата на поръчка
            </th>
            <th>
                Цена
            </th>
            <th>
                <select name="dropDown" id="dropDown">
                    <option value="">Вид</option>
                    <option value="/Administration/Orders/All?orderStatus=Active">@GlobalConstants.DisplayStatusActive</option>
                    <option value="/Administration/Orders/All?orderStatus=Completed">@GlobalConstants.DisplayStatusCompleted</option>
                    <option value="/Administration/Orders/All?orderStatus=Info">@GlobalConstants.DisplayStatusInfo</option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in this.Model.Orders)
        {
            <tr>
                <td>
                    @order.UserInfo.FirstName @order.UserInfo.LastName
                </td>
                <td>
                    @order.CreatedOn.ToLocalTime()
                </td>
                <td>
                    <strong>@order.TotalPrice.ToString("F2") лв</strong>
                </td>
                <td>
                    <span class="spinner-element">
                        <a asp-area="@GlobalConstants.AdministrationArea"
                           asp-action="@GlobalConstants.DetailsAction"
                           asp-controller="@GlobalConstants.OrdersController"
                           asp-route-id="@order.Id"
                           class="btn btn-sm form-button">
                            Детайли
                        </a>
                    </span>
                    /
                    @if (this.Model.Status.Equals(OrderStatus.Completed))
                    {
                        <span class="spinner-element">
                            <a asp-area="@GlobalConstants.AdministrationArea"
                               asp-action="@GlobalConstants.RemoveAction"
                               asp-controller="@GlobalConstants.OrdersController"
                               asp-route-id="@order.Id"
                               class="btn btn-sm form-button">
                                Изтриване
                            </a>
                        </span>
                    }
                    else if (this.Model.Status.Equals(OrderStatus.Active))
                    {
                        <span class="spinner-element">
                            <a asp-area="@GlobalConstants.AdministrationArea"
                               asp-action="@GlobalConstants.ChangeStatusAction"
                               asp-controller="@GlobalConstants.OrdersController"
                               asp-route-id="@order.Id"
                               asp-route-orderStatus="@OrderStatus.Completed"
                               class="btn btn-sm form-button">
                                Завърши
                            </a>
                        </span>
                        <text>/</text>
                        <span class="spinner-element">
                            <a asp-area="@GlobalConstants.AdministrationArea"
                               asp-action="@GlobalConstants.ChangeStatusAction"
                               asp-controller="@GlobalConstants.OrdersController"
                               asp-route-id="@order.Id"
                               asp-route-orderStatus="@OrderStatus.Info"
                               class="btn btn-sm form-button">
                                Изчакване
                            </a>
                        </span>
                    }
                    else
                    {
                        <span class="spinner-element">
                            <a asp-area="@GlobalConstants.AdministrationArea"
                               asp-action="@GlobalConstants.ChangeStatusAction"
                               asp-controller="@GlobalConstants.OrdersController"
                               asp-route-id="@order.Id"
                               asp-route-orderStatus="@OrderStatus.Completed"
                               class="btn btn-sm form-button">
                                Завърши
                            </a>
                        </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    let dropDownValue = document.getElementById("dropDown");

    dropDownValue.onchange = function() {
      if (this.selectedIndex !== 0) {
        window.location.href = this.value;
      }
    };
</script>