@model OrderDetailsModel

@{
    this.ViewData["Title"] = "Поръчка детайли";
    var deliveryAddressType = this.Model.UserInfo.DeliveryAddressType.Equals(AddressType.CarrierOffice)
        ? "Офис"
        : "Адрес";
    var IsRegisteredByVATAsString = this.Model.UserInfo.IsRegisteredByVAT
        ? "<i class=\"fa-solid fa-check text-success fa-xl\"></i>"
        : "<i class=\"fa-solid fa-circle-xmark text-danger fa-xl\"></i>";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<div class="col-lg-6">
    <div class="m-1">
        <strong>@Html.DisplayNameFor(x => x.UserInfo.FirstName):</strong> @this.Model.UserInfo.FirstName @this.Model.UserInfo.LastName
    </div>
    <div class="m-1">
        <strong>@Html.DisplayNameFor(x => x.UserInfo.Carrier):</strong> @this.Model.UserInfo.Carrier
    </div>
    <div class="m-1">
        <strong>@Html.DisplayNameFor(x => x.UserInfo.DeliveryAddressType):</strong> @deliveryAddressType
    </div>
    <div class="m-1">
        <strong>@Html.DisplayNameFor(x => x.UserInfo.DeliveryAddress):</strong> @this.Model.UserInfo.DeliveryAddress
    </div>
    <div class="m-1">
        <strong>@Html.DisplayNameFor(x => x.UserInfo.City):</strong> @this.Model.UserInfo.City
    </div>
    <div class="m-1">
        <strong>@Html.DisplayNameFor(x => x.UserInfo.Phone):</strong> @this.Model.UserInfo.Phone
    </div>
    <div class="m-1">
        <strong>Създадена на:</strong> @this.Model.CreatedOn.ToLocalTime()
    </div>
</div>
<div class="col-lg-6">
    <div class="m-1">
        <strong>@Html.DisplayNameFor(model => model.UserInfo.Bullstat):</strong> @this.Model.UserInfo.Bullstat
    </div>
    <div class="m-1">
        <strong>@Html.DisplayNameFor(model => model.UserInfo.Mall):</strong> @this.Model.UserInfo.Mall
    </div>
    <div class="m-1">
        <strong>@Html.DisplayNameFor(model => model.UserInfo.CompanyAddress):</strong> @this.Model.UserInfo.CompanyAddress
    </div>
    <div class="m-1">
        <strong style="margin-right: 10px">@Html.DisplayNameFor(model => model.UserInfo.IsRegisteredByVAT):</strong> @Html.Raw(IsRegisteredByVATAsString)
    </div>
    <div class="h4 mt-3">
        Крайна цена - @this.Model.TotalPrice.ToString("F2") лв
    </div>
</div>
<hr />
<h2 class="text-center">Продукти</h2>
<div class="row main-font">
    @foreach (var item in this.Model.OrderItems)
    {
        <div class="col-lg-5 border-1 border border-light rounded-1 m-4 pb-1">
            <div class="mt-2 right-element">
                <i class="fa-solid fa-sack-dollar fa-xl text-success"></i>
            </div>
            <div>
                <strong>Име:</strong> @item.ProductName
            </div>
            <div>
                <strong>Цена:</strong> @item.Price x @item.Quantity = @((item.Price * @item.Quantity).ToString("F2")) лв
            </div>
            <div>
                <strong>Описание:</strong> @item.Description
            </div>
            <div>
                <strong>Шрифт номер:</strong> @item.FontStyle
            </div>
            <div>
                <strong>Количество:</strong> @item.Quantity бр.
            </div>
            <div class="row text-center">
                @foreach (var imageUrl in item.Images)
                {
                    <div class="col-lg-2 m-1">
                        <a href="javascrip:void(0)" src="@imageUrl" class="btn btn-sm btn-warning image-modal">Снимка</a>
                    </div>
                }
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/js/image-modal.js"></script>
}

@section Css{
    <link rel="stylesheet" href="~/css/galeryCss.css" />
}
