@model OrderDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetailsModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @this.Model.CreatedOn.ToLocalTime()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.DeliveryAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.DeliveryAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Carrier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Carrier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.DeliveryAddressType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.DeliveryAddressType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Bullstat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Bullstat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserInfo.Mall)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserInfo.Mall)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        @foreach (var item in this.Model.OrderItems)
        {
            <dt class="col-sm-2">
                ProductName
            </dt>
            <dd class="col-sm-10">
                @item.ProductName
            </dd>
            <dt class="col-sm-2">
                Price
            </dt>
            <dd class="col-sm-10">
                @item.Price
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @item.Description
            </dd>
            <dt class="col-sm-2">
                FontStyle
            </dt>
            <dd class="col-sm-10">
                @item.FontStyle
            </dd>
            <dt class="col-sm-2">
                Quantity
            </dt>
            <dd class="col-sm-10">
                @item.Quantity
            </dd>
            @foreach (var imageUrl in item.Images)
            {
                <dt class="col-sm-2">
                    Image
                </dt>
                <dd class="col-sm-10">
                    <a href="@imageUrl" target="_blank">Snimka</a>
                </dd>
            }
            <hr />
        }
    </dl>
</div>
