@model IEnumerable<ProductViewModel>

@{
    this.ViewData["Title"] = "Продукти";
}

<a asp-area="Administration" asp-controller="Products" asp-action="Add" class="btn btn-primary mb-2">Добави продукт</a>
<form asp-area="Administration" asp-controller="Products" asp-action="AddCategory">
    <span class="text-danger">@this.TempData[GlobalConstants.NameOfCategory]</span>

    <div class="form-group">
        <label>Създай категория</label>
        <input name="Name" />
    </div>
    <div class="form-group">
        <input type="submit" value="Създай" />
    </div>
</form>

<form asp-area="Administration" asp-controller="Products" asp-action="RemoveCategory">
    <div class="form-grup">
        <label>Категория</label>
        <select name="CategoryId" class="form-select">
            <vc:categories-select is-for-products="true"></vc:categories-select>
        </select>
    </div>
    <input type="submit" value="Премахни" class="btn btn-danger" />
</form>

<table class="table table-bordered table-hover text-center mt-2">
    <thead>
        <tr>
            <th>@GlobalConstants.ProductDisplayName</th>
            <th>@GlobalConstants.ProductDisplayPrice</th>
            <th>@GlobalConstants.ProductDisplayDescription</th>
            <th>@GlobalConstants.ProductImageUrl</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in this.Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("F2") лв.</td>
                <td>@product.Description</td>
                <td><a href="@product.ImageUrl" target="_blank">Снимка</a></td>
                <td>
                    <a asp-area="Administration" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>