@model IEnumerable<EShop.Web.ViewModels.ShoppingCarts.ShoppingCartModel>

@{
    ViewData["Title"] = "Количка";
}

<div class="main-font"></div>
<div class="row">
    <div class="col-md-12 col-12 col-sm-12 col-lg-12">
        <h1 class="text-center mb-5 mt-3"><i class="fa-solid fa-cart-shopping fa-2xl"></i></h1>
    </div>
</div>

@foreach (var item in this.Model)
{
    <div class="mb-2 col-lg-3 col-sm-12 col-12 col-md-6">
        <div class="card p-1 cardHoverAdmin">
            <svg xmlns="http://www.w3.org/2000/svg" class="" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                <rect width="100%" height="100%" fill="#FFFFFF"></rect>
                <image href="@item.ProductImageUrl" height="100%" width="100%"></image>
            </svg>
            <div class="card-body p-1">
                <p><strong>Продукт - </strong> @item.ProductName</p>
                <p><strong>Прикачени снимки - </strong> @item.Images.Count бр.</p>
                @if (item.FontStyle.HasValue)
                {
                    <p>
                        <strong>
                            <a class="image-modal" style="text-decoration: underline" href="javascript:void(0)" src="https://res.cloudinary.com/beshev/image/upload/v1664627169/E-shop/301015808_768770797700753_2492550915792899201_n_pcztqe.jpg">
                                Шрифт номер
                            </a> -
                        </strong> @item.FontStyle
                    </p>
                }
                <p><strong>Вешето описание: </strong> @(item.Description ?? "няма")</p>
                <p><strong>Бележка: </strong> @(item.CustomerNote ?? "няма")</p>
                <h5>@item.Quantity бр. x @item.Price = @((item.Quantity * item.Price).ToString()) лв</h5>
                <div class="center-element">
                    <a asp-area="" asp-action="RemoveItem" asp-controller="Cart" asp-route-id="@item.Id"><i class="fa-regular fa-circle-xmark fa-2xl text-danger"></i></a>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <strong class="text-warning right">Доставката не е включена в крайната цена.</strong>
    <h5 class="right">
        Общо: @this.Model.Sum(x => x.Price * x.Quantity) лв
    </h5>
</div>

<div class="row">
    <div class="mb-3 right">
        <a asp-area="" asp-controller="Orders" asp-action="ComplateOrder" class="btn btn-success @if(!this.Model.Any()){ <text>disabled</text> }">Поръчай</a>
    </div>
</div>

@section Scripts{
    <script src="~/js/image-modal.js"></script>
}

@section Css{
    <link rel="stylesheet" href="~/css/galeryCss.css" />
}