@model IEnumerable<EShop.Web.ViewModels.ShoppingCarts.ShoppingCartModel>

@{
    ViewData["Title"] = "Количка";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FontStyle)
            </th>
            <th>
                Брой снимки
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in this.Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @item.Price x @item.Quantity = @((item.Price * item.Quantity).ToString("F2"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FontStyle)
                </td>
                <td>
                    @item.Images.Count()
                </td>
                <td>
                    <a asp-area="" asp-action="RemoveItem" asp-controller="Cart" asp-route-id="@item.Id">Премахни</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>
    Общо: @this.Model.Sum(x => x.Price * x.Quantity) лв
</h5>
<strong class="text-danger">Внимание! Доставката не е вкючена в крайната цена!</strong>

<a asp-area="" asp-controller="Orders" asp-action="ComplateOrder" class="btn btn-info @if(!this.Model.Any()){ <text>disabled</text> }" >Поръчай</a>