@using EShop.Common
@using EShop.Services.Data.Products
@using EShop.Web.ViewModels.ShoppingCarts
@inject IProductService productService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="RpaTpSaU2fL_2Z0IctClHuzU7KGCKStxebpmUWVFhV8" />
    <meta name="description" content="Онлайн магазин за персонализирани сувенири, където можете да качвате снимки и текст и да ги гравирате на сувенирите по ваш избор. Идеални за специални събития и персонални подаръци. Разгледайте нашата голяма колекция сувенири и създайте уникален продукт.">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/_variables.scss" />
    @await this.RenderSectionAsync("Css", required: false)
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body class="text-lightcyan">
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a rel="noopener" class="nav-link" href="https://www.facebook.com/profile.php?id=100063452868558"><i class="fa-brands fa-facebook-f text-info"></i> Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a rel="noopener" class="nav-link" href="https://www.instagram.com/podaracitebg/?fbclid=IwAR0G9MOmx8bSugV6TeQUR4AQI11HJAQmaTwBi19Eu5ueWzXe84_mnFUK-m0"><i class="fa-brands fa-instagram text-warning"></i> Instagram</a>
                    </li>
                    <li class="nav-item">
                        <a rel="noopener" class="nav-link" href="tel:+359878272101"><i class="fa-brands fa-viber text-light"></i> Телефон за поръчки: 0878272101</a>
                    </li>
                    <li class="nav-item">
                        <a rel="noopener" class="nav-link" href="#"><i class="fa-regular fa-envelope text-light"></i> Имейл: podaracitebg@gmail.com</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Модели за</a>
                        <div class="dropdown-menu scroll-overflow" aria-labelledby="themes">
                            <vc:template-categories></vc:template-categories>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="themes">Продукти</a>
                        <div class="dropdown-menu scroll-overflow" aria-labelledby="themes">
                            <a class="dropdown-item" asp-area="" asp-controller="@GlobalConstants.ProductsController" asp-action="@GlobalConstants.AllAction">Всички</a>
                            @foreach (var category in await productService.GetCategoriesAsync<SelectViewModel>())
                            {
                                <a class="dropdown-item"
                               asp-area=""
                               asp-controller="@GlobalConstants.ProductsController"
                               asp-action="@GlobalConstants.AllAction"
                               asp-route-id="1"
                               asp-route-categoryId="@category.Id">@category.Name</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="@GlobalConstants.NameOfGallery" asp-action="@GlobalConstants.NameOfGallery">Галерия</a>
                    </li>
                    @if (this.User.IsInRole(@GlobalConstants.AdministratorRoleName))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Админ</a>
                        </li>
                    }
                </ul>
            </div>
            <a class="" asp-area="" asp-controller="Cart" asp-action="Items"><i class="fa-solid fa-cart-arrow-down fa-xl"></i>(@(this.Context.Session.GetCollectionCount<ShoppingCartModel>(GlobalConstants.NameOfCart)))</a>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5" id="inner-body">
            @* <partial name="_CookieConsentPartial" />*@
            @this.RenderBody()
        </div>
    </div>

    <footer class="py-3 footer mt-5" style="background-color: #660033;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <text class="text-warning">ЗА ВРЪЗКА С НАС</text>
                    <hr />
                    <a href="tel:+359878272101"><i class="fa-brands fa-viber text-primary"></i> 0878272101</a>
                    <a rel="noopener" class="nav-link" href="https://www.facebook.com/profile.php?id=100063452868558"><i class="fa-brands fa-facebook-f text-info"></i> Facebook</a>
                    <a rel="noopener" class="nav-link" href="https://www.instagram.com/podaracitebg/?fbclid=IwAR0G9MOmx8bSugV6TeQUR4AQI11HJAQmaTwBi19Eu5ueWzXe84_mnFUK-m0"><i class="fa-brands fa-instagram text-danger"></i> Instagram</a>
                    <a rel="noopener" class="nav-link" href="#"><i class="fa-regular fa-envelope"></i> Имейл: podaracitebg@gmail.com</a>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <text class="text-warning">ИНФОРМАЦИЯ</text>
                    <hr />
                    <a asp-area="" asp-action="Privacy" asp-controller="Home" class="text-lightcyan">Политика на поверителност</a>
                    <br />
                    <a asp-area="" asp-action="GeneralTerms" asp-controller="Home" class="text-lightcyan">Общи условия</a>
                    <br />
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script>
          tinymce.init({
          selector: 'textarea#editor',
          menubar: false
        });
    </script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
