@model AllTemplatesViewModel

@{
    this.ViewData["Title"] = "Темплейти";
}

<div class="row mb-2">
    <div class="col-md-3 offset-1 text-center">
        <form asp-area="Administration" asp-controller="Templates" asp-action="RemoveCategory" class="spinner-form">
            <div class="form-grup">
                <label>Категории</label>
                <select name="categoryId" class="form-select">
                    <vc:categories-select is-for-products="false"></vc:categories-select>
                </select>
            </div>
            <input type="submit" value="Премахни" class="btn btn-danger mt-2 form-button" />
        </form>

        <form asp-area="Administration" asp-controller="Templates" asp-action="RemoveSubCategory" class="mt-3 spinner-form">
            <vc:template-sub-categories category-id=0></vc:template-sub-categories>
            <input type="submit" value="Премахни" class="btn btn-danger mt-2 form-button" />
        </form>
    </div>

    <span class="vr m-3"></span>

    <div class="col-md-3 col-sm-12 text-center">
        <h5>Създай категория</h5>
        <form asp-area="Administration" asp-controller="Templates" asp-action="AddCategory" class="spinner-form" enctype="multipart/form-data">
            <span class="text-danger">@this.TempData[GlobalConstants.NameOfCategory]</span>

            <div class="form-group">
                <label class="d-block">Kатегория</label>
                <input name="Name" class="form-control inputHover" />
            </div>

            <vc:template-select></vc:template-select>

            <div class="form-grup mt-1">
                <label class="d-block">Снимка</label>
                <div class="center-element">
                    <input type="file" name="Image" />
                </div>
            </div>

            <div class="form-grup mt-1">
                <label class="d-block">Цена</label>
                <div class="center-element">
                    <input class="rounded border-warning border-5" type="number" name="Price" />
                </div>
            </div>

            <div class="form-group mt-2 form-button">
                <input class="btn btn-success btn-sm" type="submit" value="Създай" />
            </div>
        </form>
    </div>
    <span class="vr m-3"></span>
    <div class="col-md-3 text-center">
        <h5>Създай под категория</h5>
        <form asp-area="Administration" asp-controller="Templates" asp-action="AddSubCategory" class="spinner-form">
            <span class="text-danger">@this.TempData[GlobalConstants.NameOfSubCategory]</span>

            <div class="form-group">
                <label class="d-block">Под категория</label>
                <input name="Name" class="form-control inputHover" />
            </div>
            <div class="form-group mt-2 form-button">
                <input class="btn btn-success btn-sm" type="submit" value="Създай" />
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <table class="table table-bordered table-hover text-center mt-2">
        <thead>
            <tr>
                <th>@GlobalConstants.TemplateDisplayName</th>
                <th>@GlobalConstants.TemplateDisplayPrice</th>
                <th>@GlobalConstants.TemplateDisplayDescription</th>
                <th><a asp-area="Administration" asp-controller="Templates" asp-action="Add" class="btn btn-success btn-sm">Добави темплейт</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in this.Model.Templates)
            {
                <tr>
                    <td>@template.Name</td>
                    <td>@template.Price.ToString("F2") лв.</td>
                    <td>@template.Description.TrimIfLongerThan(50)</td>
                    <td>
                        <a href="@template.ImageUrl" class="text-warning" target="_blank">Снимка</a> /
                        @if(string.IsNullOrWhiteSpace(template.SecondImageUrl) == false)
                        {
                            <a href="@template.SecondImageUrl" class="text-warning" target="_blank">Снимка 2</a> <text>/</text>
                        }
                        @if(string.IsNullOrWhiteSpace(template.ThirdImageUrl) == false)
                        {
                            <a href="@template.ThirdImageUrl" class="text-warning" target="_blank">Снимка 3</a>
                        }
                    </td>
                    <td>
                        <span class="spinner-element"><a asp-area="Administration" asp-controller="Templates" asp-action="Edit" asp-route-id="@template.Id" class="btn btn-sm btn-info form-button">Редактиране</a></span> /
                        <span class="spinner-element"><a asp-area="Administration" asp-controller="Templates" asp-action="Delete" asp-route-id="@template.Id" class="btn btn-sm btn-danger form-button">Изтриване</a></span> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
   <partial name="_TemplatePagingPartial" model="@this.Model" />
</div>