@model IEnumerable<TemplateBaseViewModel>

@{
    this.ViewData["Title"] = "Темплейти";
}

<div class="row mb-2">
    <div class="col-md-4 col-sm-12 text-center">
        <h5>Създай категория</h5>
        <form asp-area="Administration" asp-controller="Templates" asp-action="AddCategory">
            <span class="text-danger">@this.TempData[GlobalConstants.NameOfCategory]</span>

            <div class="form-group">
                <label class="d-block">Kатегория</label>
                <input name="Name" />
            </div>
            <div class="form-grup">
                <label class="d-block">Цена</label>
                <input type="number" name="Price" />
            </div>

            <vc:template-select></vc:template-select>

            <div class="form-group">
                <input type="submit" value="Създай" />
            </div>
        </form>
    </div>

    <div class="col-md-4 text-center">
        <form asp-area="Administration" asp-controller="Templates" asp-action="RemoveCategory">
            <div class="form-grup">
                <label>Категории</label>
                <select name="categoryId" class="form-select">
                    <vc:categories-select is-for-products="false"></vc:categories-select>
                </select>
            </div>
            <input type="submit" value="Премахни" class="btn btn-danger mt-2" />
        </form>

        <form asp-area="Administration" asp-controller="Templates" asp-action="RemoveSubCategory">
            <vc:template-sub-categories category-id=0></vc:template-sub-categories>
            <input type="submit" value="Премахни" class="btn btn-danger mt-2" />
        </form>
    </div>

    <div class="col-md-4 text-center">
        <h5>Създай под категория</h5>
        <form asp-area="Administration" asp-controller="Templates" asp-action="AddSubCategory">
            <span class="text-danger">@this.TempData[GlobalConstants.NameOfSubCategory]</span>

            <div class="form-group">
                <label class="d-block">Под категория</label>
                <input name="Name" />
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Създай" />
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <a asp-area="Administration" asp-controller="Templates" asp-action="Add" class="btn btn-primary mb-2">Добави темплейт</a>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover text-center mt-2">
            <thead>
                <tr>
                    <th>@GlobalConstants.TemplateDisplayName</th>
                    <th>@GlobalConstants.TemplateDisplayPrice</th>
                    <th>@GlobalConstants.TemplateDisplayDescription</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var template in this.Model)
                {
                    <tr>
                        <td>@template.Name</td>
                        <td>@template.Price.ToString("F2") лв.</td>
                        <td>@template.Description</td>
                        <td><a href="@template.ImageUrl" target="_blank">Снимка</a></td>
                        <td>
                            <a asp-area="Administration" asp-controller="Templates" asp-action="Delete" asp-route-id="@template.Id">Изтриване</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>