@model ProductTemplatesViewModel

@{
    this.ViewData["Title"] = $"Темплейти за {this.Model.Product.Name}";
    this.TempData["ProductId"] = this.Model.Product.Id;
}

<h1 class="text-center">
    @this.ViewData["Title"]
</h1>


@foreach (var template in this.Model.Templates)
{
    <div class="col-lg-4">
        <!-- blog post-->
        <div class="card mb-4">
            <a asp-area="" asp-controller="Templates" asp-action="Details" asp-route-templateId="@template.Id"><img class="card-img-top" src="@template.ImageUrl" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted">@template.Name</div>
                <h2 class="card-title h4">@template.Price.ToString("F2") лв</h2>
                <p class="card-text">@template.Description</p>
                <a class="btn btn-primary" asp-area="" asp-controller="Templates" asp-action="Details" asp-route-templateId="@template.Id">Детайли →</a>
            </div>
        </div>
    </div>
}
