@model AllTemplatesViewModel

@if (this.Model.Templates.Any())
{
    <h1 class="text-center">
        Темплейти за @this.Model.Category.Name
    </h1>
    <div class="col-lg-9">
        @foreach (var template in this.Model.Templates)
        {
            <div class="col-lg-4 d-inline-block">
                <!-- blog post-->
                <div class="card mb-4">
                    <a asp-area="" asp-controller="Templates" asp-action="Details" asp-route-templateId="@template.Id" asp-route-categoryId="@Model.Category.Id"><img class="card-img-top" src="@template.ImageUrl" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">@template.Name</div>
                        <h2 class="card-title h4">@((template.Price + this.Model.Category.Price).ToString("F2")) лв</h2>
                        <p class="card-text">@template.Description</p>
                        <a class="btn btn-primary" asp-area="" asp-controller="Templates" asp-action="Details" asp-route-templateId="@template.Id" asp-route-categoryId="@Model.Category.Id">Детайли →</a>
                    </div>
                </div>
            </div>
        }

        <partial name="_TemplatePagingPartial" model="@this.Model" />
    </div>

}
else
{
    <h1>В момента няма темплейти за този продукт/категория</h1>
}

<vc:template-sub-categories category-id="@this.Model.CategoryId.Value"></vc:template-sub-categories>
