@model TemplateDetailsModel

@{
    var productName = $"{this.Model.Name} - {this.Model.Category.Name}";
}

<div class="col-lg-6">
    <div class="card mb-4 p-2 cardHoverDetails">
        <img class="card-img-top" src="@this.Model.ImageUrl" alt="..." />
        <div class="card-body">
            <div class="small text-muted">@this.Model.Name</div>
            <h2 class="card-title">@((this.Model.Price + this.Model.Category.Price).ToString("F2")) лв</h2>
            <p class="card-text">
                @this.Model.Description
            </p>
        </div>
    </div>
</div>

<vc:order-item
    template-id="@Model.Id"
    product-id="@null"
    price="@this.Model.Price" 
    product-name="@productName" 
    has-custom-text="@this.Model.HasCustomText" 
    images-count="@this.Model.ImagesCount"
    return-url="@this.ViewData[GlobalConstants.ReturnUrlKey]">
</vc:order-item>