@using EShop.Web.ViewModels.Products
@model IEnumerable<SelectViewModel>

@{
    var count = this.Model.Count() / 2;
}

<div class="col-lg-3 text-center">
    <div class="card mb-4">
        <div class="card-header">Категории</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        @foreach (var item in this.Model.Take(count))
                        {
                            <li>
                                <a asp-area=""
                               asp-controller="@GlobalConstants.TemplatesController"
                               asp-action="@GlobalConstants.AllAction"
                               asp-route-categoryId="@this.ViewData[GlobalConstants.NameOfCategory]"
                               asp-route-subCategoryId="@item.Id"
                               asp-route-id="1">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        @foreach (var item in this.Model.Skip(count).Take(count))
                        {
                            <li>
                                <a asp-area=""
                               asp-controller="@GlobalConstants.TemplatesController"
                               asp-action="@GlobalConstants.AllAction"
                               asp-route-categoryId="@this.ViewData[GlobalConstants.NameOfCategory]"
                               asp-route-subCategoryId="@item.Id"
                               asp-route-id="1">@item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>